<h3>About Me</h3>

<div class="card z-depth-3">
	<div class="card-content white-text">
		<div class="col m6">
			<a class="twitter-timeline" href="https://twitter.com/Code4Startup" data-widget-id="587633580509044736">Tweets by @Code4Startup</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
		<div class="col m6">
			<div class="card-panel grey lighten-5 z-depth-1">
				<div class="row valign-wrapper">
					<div class="col m3">
						<%= image_tag "avatar.jpg", class: "circle responsive-img" %>
					</div>
					<div class="col m9">
						<span class="black-text">
							I don't know what to say. Let the world tell you more... :)
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


